<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="item-container"></div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        fetch("http://127.0.0.1:8000/api/Item/")
          .then((response) => response.json())
          .then((data) => {
            const itemscontainer = document.getElementById("item-container");
            data.forEach((item) => {
              const itemElement = document.createElement("div");
              itemElement.textContent = `ID:  ${item.id}, Name: ${item.nama},
              Email: ${item.email}, total dzikir ${item.total_dzikir}`;
              itemscontainer.appendChild(itemElement);
            });
          })
          .catch((error) => console.error("error fetching data", error));
      });
    </script>
  </body>
</html>
